<br>
<h1><%= @post.title %></h1>
<br>
<p><%= @post.content %></p>
<br>
<h2>Responses</h2>
<ul>
<% @post.comments.each do |comment| %>
<li><%= comment.content %></li>
<% if current_user.id == comment.user_id %>
		<form action="/comment/<%= comment.id %>" method="POST">
		<input type="hidden" name="post_id" value="<%= @post.id %>">
      	<input type="hidden" name="_method" value="DELETE">
      	<input type="submit" value="DELETE">
      	</form>
	
<% end %>
<% end %>
</ul>
<% if current_user %>
<form role="form" action="/post/<%= @post.id %>" method="post">

    <textarea rows="5" name="content" placeholder="Leave your response"></textarea>
        <br>
    <button type="submit">Respond</button>
</form>
	<% end %>