<% if current_user %>
<form role="form" action="/post" method="post">

    <input type="text" name="title" placeholder="Your Title">
    <br>
  	<textarea rows="5" name="content" placeholder="Your Post"></textarea>
  	<br>
  
  <button type="submit">Post</button>
</form>
<% end %>

<form role="form" action="/post" method="get">

    <input type="text" name="filter" placeholder="keyword">
    <br>
  
  <button type="submit">Filter</button>
</form>

<% if @filter %>
<h3>Filtered</h3>
<div>
<% @posts.each do |post| %>
<% postsfiltered = [] %>
<% if post.title.downcase.include?(@filter.downcase) || post.content.include?(@filter.downcase) || post.content.include?(@filter[0].upcase + @filter[1..-1].downcase) %>
<% postsfiltered.push(post) %>
<% end %>
<% postsfiltered.each do |filteredpost| %>
<a href='post/<%= filteredpost.id %>'><%= filteredpost.title %></a>
<% end %>
<% end %>
</div>
<% end %>


<h3>All Posts</h3>
<% @posts.each do |post| %>
<br>
<a href='post/<%= post.id %>'><%= post.title %></a>
	<% if session[:user_id] == post.user_id %>
		<form action="/post/<%= post.id %>" method="POST">
      	<input type="hidden" name="_method" value="DELETE">
      	<input type="submit" value="DELETE">
      	</form>
	<% end %>
<% end %>


